<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Post title</mat-label>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        minlength="3"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Post content</mat-label>
      <textarea
        matInput
        #postInput
        rows="6"
        name="content"
        [ngModel]="post?.content"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    </mat-form-field>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit">Save post</button>
    </mat-card-actions>
  </form>
</mat-card>
